:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #FFF;
    --dairy: #FCFCFC;

}


body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

ul {
    list-style: none;

}
.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    text-align: center;
    
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue)
    
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.decor {
    text-decoration: none;
}

.header {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.header-link:hover,
.header-link:focus {
    color: var(--ocean);
}
.address-link:hover,
.address-link:focus,
.phone-link:hover,
.phone-link:focus {
    color: var(--iris);
}

.header-nav {}

.nav {}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-dark {
    color: var(--navy-blue);
}

.address {
    font-style: normal;
}

.address a {
    /* Targeting links within the address */
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address a:hover,
.address a:focus {
    color: var(--ocean);
    /* #404BBF for hover and focus */
}


.hero {
    background: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;

}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
}


.hero-btn:hover {
    background-color: var(--ocean)
}
.hero-btn:focus {
  background-color: var(--ocean);
}

.main {
        
}


.features {}

.features-title {}

.features-item {}

.features-subtitle {}

.features-text {}




.team {
    background-color: var(--cloud);
}

.team-title {}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitle {}

.team-text {}



.portfolio {}

.portfolio-title {}

.portfolio-item {}

.portfolio-subtitle {}

.portfolio-text {}



.footer {
    color: var(--white);
    background: var(--navy-blue);
}

.footer p {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
}

.logo-light {   
    color: var(--cloud);
}

